<h2>About</h2>
<p align="justify">Ph.D. Candidate in Computer Science and Robotics at team <a href="https://team.inria.fr/mimetic/">Mimetic</a> in <a href="https://www.inria.fr/en/">Inria</a>/<a href="https://www.irisa.fr/en/">IRISA</a> under the supervision of <a href="http://people.irisa.fr/Marc.Christie/">Dr. Marc CHRISTIE</a> and <a href="https://team.inria.fr/rainbow/team/eric-marchand/">Prof. Eric MARCHAND</a>. <br><br>Obtained M.Sc in Automatics and Image Processing from Univ. of Paris-Sud and Supélec, Dpl.Ing in Eletronics from Univ. of Paris-Sud, Previously receieved B.Sc in Eletronics Inforamtion Engineering from Xidian University in China. </p>

<h2>Research Interests</h2>
<ul>
  <li>Visual SLAM</li>
  <li>3D Computer Vision</li>
  <li>Image Processing</li>
  <li>Computer Graphics</li>
</ul>


<h2>Recent News</h2>
<ul>
  <li>Submitted to ICRA 2021</li><br>
  <li>Accepted by IROS 2020: <br>
     - <a href=https://www.robocup.org/iros_robocup_best_paper_award>RoboCup Best Paper Award Finalist</a><br>
     <small>Relative Pose Estimation and Planar Reconstruction via Superpixel-Driven Multiple Homographies</small>
    </li><br>

  <li>Accepted by ACM Siggraph 2020: <br>
    <small>Example-driven virtual cinematography by learning camera behaviors</small>
  </li><br>
  <li>Accepted by IROS 2018: <br>
    <small>Optimized Contrast Enhancements to Improve Robustness of Visual Tracking in a SLAM Relocalisation Context</small>
  </li><br>
  <li>Accepted by ICIP 2018: <br>
    <small>Multiple layers of contrasted images for robust feature-based visual tracking</small>
  </li><br>
  <li>Participation in ACM Siggraph 2018</li>
</ul>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/Triocrossing">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-book fa-lg  main-list-item-icon"></span>
    <a href="https://scholar.google.fr/citations?user=UPPES_cAAAAJ&hl=en">Publications</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa fa-paper-plane fa-lg main-list-item-icon"></span>
    <a href="Mailto:xi.wang@inria.fr">xi.wang@inria.fr</a> 
  </li>
</ul>
